In [2]:
# import packages
import pandas as pd

In [4]:
pwd

'C:\\Users\\lizba\\Desktop\\ML\\Minneapolis_Weather_Predictor'

In [31]:
# load file
file = 'min_max_precep.csv'
df = pd.read_csv(file)
df.head()

,Maximum Temperature degrees (F),Minimum Temperature degrees (F),Precipitation (inches),Snow (inches),Snow Depth (inches)
0,6,-9,T,T,9
1,1,-15,0,0,9
2,7,-14,0,0,9
3,7,-10,0,0,9
4,10,-9,0,0,9

In [32]:
# changes columns names  
df.columns = ['Max','Min','Precip','Snow','Snow_Depth']
df.head()

   Max  Min Precip Snow Snow_Depth
0    6   -9      T    T          9
1    1  -15      0    0          9
2    7  -14      0    0          9
3    7  -10      0    0          9
4   10   -9      0    0          9

In [39]:
# replace T with 0 to prepare for ML
new = df.replace("T",0)
new.head()

   Max  Min Precip Snow Snow_Depth
0    6   -9      0    0          9
1    1  -15      0    0          9
2    7  -14      0    0          9
3    7  -10      0    0          9
4   10   -9      0    0          9

In [35]:
# check dtypes
new.dtypes

Max            int64
Min            int64
Precip        object
Snow          object
Snow_Depth    object
dtype: object

In [52]:
# convert object data types to floats
new ['Precip'] = new['Precip'].astype(float)
new.columns

Index(['Max', 'Min', 'Precip', 'Snow', 'Snow_Depth'], dtype='object')

In [53]:
# check new dtypes
new.dtypes

Max             int64
Min             int64
Precip        float64
Snow          float64
Snow_Depth     object
dtype: object

In [48]:
# convert again
new ['Snow'] = new['Snow'].astype(float)
new.dtypes

Max             int64
Min             int64
Precip        float64
Snow          float64
Snow_Depth     object
dtype: object

In [59]:
# drop Snow Depth Column
new = new.drop(['Snow_Depth'], axis=1)

In [60]:
# check df
new.head()

   Max  Min  Precip  Snow
0    6   -9     0.0   0.0
1    1  -15     0.0   0.0
2    7  -14     0.0   0.0
3    7  -10     0.0   0.0
4   10   -9     0.0   0.0

In [ ]:
# write cleaned df to file
new.to_csv('clean_temps.csv')